@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}

<h1>You Order</h1>
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img class="w-100" asp-append-version="true" />
        <p>Your order for the pizza is ready!</p>
        <p>Total price for your order is:</p>
        <br/>
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="ThankYouPage">Confirm Order</a>
    </div>

</div>